body {
  margin: 0;
  background: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #101010;
  display: block;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-sizing: border-box;

}
